

.center{
    margin: auto;
    width: 70%;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}

#question {
    text-align: left;
    font-family: "Helvetica Neue", sans-serif;
}
ul{
    text-align: left;
}

.meme {
    width: 100%;
}

table {
    font-family: "Helvetica Neue", sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
